<section class="content-header">
    <h1>
     My Gates
    </h1>   

  <span style="margin-top: -25px;" class="pull-right">
      <a style="border-radius: 30px; "  
      (click)="openGateEditComponent('')"
       class="btn btn-block btn-social btn-dropbox button_Style">
        <i class="fa fa-plus"></i> Create New Gate
      </a>
   
    </span>

  </section>
  

<br>

  <section class="content">




    
    <!-- Default box -->
    <div class="box box-primary">
      
      <div class="box-body">
      
        <div class="card">
          
          <!-- /.card-header -->
          <div class="card-body">
            <table id="tblGateList" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Gate Name</th>
                <th>Status</th>  
                <th>User Access Count</th>  
                <th>Device</th>   
                <th>Description</th> 
                <th >Last Update</th>
                <th >Action</th>
        
              </tr>
              </thead>
              <tbody>
    
    <tr role="row" *ngFor="let gate of gatesList">
      <td>{{gate.gate_name}}</td>
      <td >{{gate.active? 'Active' :'InActive'}}</td>
      <td>{{gate.access_count}}</td>
      <td >{{gate.device_name}}</td>
      <td >{{gate.description}}</td>
      <td >{{gate.updated_date_time | date:'yyyy-MMM-dd HH:mm a'}}</td>
      <td ><div style="font-size: 15px;text-align: center;">
      <a (click)="openGateEditComponent(gate)" > <i class="fa fa-edit"></i></a> 
      <a style="padding-left: 15px;" (click)="deleteGate(gate.id)"> <i style="color: red;" class="fa fa-trash-o"></i></a>
      </div></td>
    
      
    </tr> 
             
             
              </tbody>
              
            </table>
          </div>
          <!-- /.card-body -->
        </div>
    








      </div>
    
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  
  </section>






  






  