<section class="content-header">
    <h1>
    USER ACCESS
    </h1>
  
    <span style="margin-top: -25px;" class="pull-right">
      <a style="border-radius: 30px; " [routerLink]="['/members/newDeviceAccess']"  
     
       class="btn btn-block btn-social btn-dropbox button_Style">
        <i class="fa fa-plus"></i> Create Access
      </a>
   
    </span>
  </section>
  
  
  
  <br>
  
  <section class="content">
  
    <!-- Default box -->
    <div class="box box-primary">
      <div class="box-header with-border">
      
          <div class="row">
            

            <div class="col col-sm-12  col-md-5 col-lg-5">
              <div class="form-group">
                <label>DEVICE</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-gears" aria-hidden="true"></i>
                  </div>
  
                  <ng-select [items]="DeviceList"    bindLabel="device_name" 
                  placeholder="Select Device" 
                  [(ngModel)]="selectedDevice">
                 </ng-select>
  
                </div>
              </div>
            </div>
          
            <div class="col col-sm-12  col-md-5 col-lg-5">
              <div class="form-group">
                <label>USER</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                  <ng-select [items]="UserList"   bindLabel="user_name" 
                  placeholder="Select user" 
                  [(ngModel)]="selectedUser">
                 </ng-select>
                 
                </div>
              </div>
            </div>
  

  
            <div style="text-align: center;" class="col col-sm-12  col-md-2 col-lg-2">
             
              <button style="width:80%;margin-top: 25px; " (click)="onSubmit()"  class="btn btn-primary button_Style" type="button"> Search </button>
  
            </div>
          </div>
       
      </div>
      <div class="box-body">
  
        <div class="card">
  
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>USER ID</th>
                  <th>USER NAME</th>                   
                  <th>DEVICE NAME</th>
                  <th>DEVICE GATE NO/NAME</th>
                 
                  <th>ACCESS EXPIRE</th>
                  <th>STATUS</th>                                   
                  <th>VIEW/EDIT</th>                 
                </tr>
              </thead>
              <tbody>
  
                <tr role="row" *ngFor="let data of userDeviceAccessList">
                  <td class="sorting_1">{{data.user_id}}</td>
                  <td class="sorting_1">{{data.user_name}}</td>                              
                  <td class="sorting_1">{{data.device_name}}</td>     
                  <td class="sorting_1">{{data.device_gate}}</td> 
                  <td class="sorting_1">{{data.access_expiry_date | date:'dd/MMM/yyyy'}}</td>                  
                  <td class="sorting_1">{{data.user_status}}</td>

                  <td style="text-align: center;">
                    <button [routerLink]="['/members/user_device_access_view',data.doc_id]"   
                    style="border-radius: 25px;"
                    CLASS="btn btn-sm btn-primary button_Style">View/Edit</button></td>          
                </tr>
  
  
              </tbody>
  
            </table>
          </div>
          <!-- /.card-body -->
        </div>
  
  
  
  
  
  
  
  
  
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
  
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  
  </section>