<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="img-circle" src={{cDetails.logo}}>
      </div>
      <div class="pull-left info">
        <p>{{cDetails.organization_name}}</p>
        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
      </div>
    </div>
    <!-- search form -->
    <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text">
        <span class="input-group-btn">
                <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li><a [routerLink]="'/members/profile'" ><i class="fa fa-bank"></i> <span>
        Company Profile
      </span></a></li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="'/members/profile'" ><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          <li><a [routerLink]="'/members/profile'"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
        </ul>
      </li>
     
      <li><a [routerLink]="'/members/attendance'"><i class="fa fa-book"></i> <span>
        Attendance Report
      </span></a></li>
     
      <li><a [routerLink]="'/members/employeeList'"><i class="fa fa-group"></i> <span>
       Users
      </span></a></li>

 

      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Device</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../UI/general.html"><i class="fa fa-circle-o"></i> Device</a></li>         
        </ul>
      </li>
         
     
      <li class="header">OTHERS</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>My subscription</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Updates</span></a></li>
     
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
