<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="img-circle" src={{photo}}>
      </div>
      <div class="pull-left info">
        <p>{{display_name}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> {{myRole}}</a> 
      </div>
    </div>
   
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li><a [routerLink]="'/organizationProfile'" ><i class="fa fa-bank"></i> <span>
        Organization Profile
      </span></a></li>
          
      <li><a [routerLink]="'/dashboard'"><i class="fa fa-dashboard"></i> <span>
        Dashboard
      </span></a></li>

            
      <li><a [routerLink]="'/users'"><i class="fa fa-group"></i> <span>
       Users
      </span></a></li>
  

      <li><a [routerLink]="'/attendance'"><i class="fa fa-book"></i> <span>
        Attendance Report
      </span></a></li>

     
      <li class="active treeview" style="height: auto;">
        <a href="#">
          <i class="fas fa-door-open"></i> <span>  Gate</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <li><a [routerLink]="'/myGates'"><i class="fa fa-circle-o text-yellow"></i> My Gates</a></li>
          <li><a [routerLink]="'/user_device_access'"><i class="fa fa-circle-o text-aqua"></i> Gate Access</a></li>
        </ul>
      </li>

      <li><a [routerLink]="'/myDevice'"><i class="fab fa-accusoft"></i>
         <span>
        My Device
      </span>
      <span class="pull-right-container">
        <span class="label label-danger pull-right">04</span>
      </span>
    </a></li>

    
     
      <li class="header">OTHERS</li>
      <li><a [routerLink]="'/subscription'"><i class="fas fa-file-invoice-dollar"></i> <span> My subscription</span></a></li>
      <li><a href="#"><i class="fas fa-headset"></i> <span> Help/Support</span></a></li>
     
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
