

<div class="register-box box box-primary">
    
  <div class="register-box-body">
    <div class="register-logo">
      <a href="../../index2.html"><b>e</b>Training</a>
    </div>
    <h4 style="margin-top:10px;" class="login-box-msg">Create New Account</h4>
     
    <div class="row" *ngIf="authError">
      <div class="col-12" style="color: red;margin-bottom: 15px; text-align: center;font-size: 16px;font-weight: 600; ">
        {{ authError?.message }}
      </div>
    </div>

    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">


      <div class="row">
<div class="col-sm-12 col-lg-6">
  <div class="form-group has-feedback">
    <input ngModel  #first_name="ngModel" name="first_name" required id="first_name" class="form-control" placeholder="First name" type="text">
    <span class="fa fa-user form-control-feedback"></span>
  </div>
</div>
<div class="col-sm-12 col-lg-6">
  <div class="form-group has-feedback">
    <input ngModel  #last_name="ngModel" name="last_name" required id="last_name" class="form-control" placeholder="Last name" type="text">
    <span class="fa fa-user form-control-feedback"></span>
  </div>
</div>
      </div>
   

     


      <div class="form-group has-feedback">
        <input ngModel  #email="ngModel" name="email" required id="email" 
        class="form-control" placeholder="Email" type="text">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      
      <div class="form-group has-feedback">
        <input  ngModel #password="ngModel" required name="password" id="password"
         class="form-control" placeholder="Password" type="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      
      <div class="row">
        <div class="col-xs-9">
          <div class="checkbox icheck">
            <label>
              <input ngModel #term="ngModel" id="term"  required name="term" type="checkbox"> I agree to the 
              <a [routerLink]="'/login/termsAndConditions'">terms & conditions</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-3">
          <button class="btn btn-primary btn-flat" style="margin-left: -15px;" type="submit">Register</button>
        </div>
        <!-- /.col -->
      </div>

   



    </form>
    <div class="social-auth-links text-center">
      <p>- OR -</p>     
      <a (click)="signUpByGoogle()" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google</a>
    </div>
    
    <a [routerLink]="'/login/'" class="text-center"> <b>I already have a membership</b></a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

