

<section class="content-header">
    <h1>
    MY DEVICE
    </h1>
  
    <span style="margin-top: -25px;" class="pull-right">
      <a style="border-radius: 30px; " [routerLink]="['/members/newDeviceAccess']"  
     
       class="btn btn-block btn-social btn-dropbox button_Style">
        <i class="fa fa-plus"></i> Add New Device 
      </a>
   
    </span>
  </section>
  
  
  
  <br>
  

  

  


  <section class="content">
  

    <div class="container">
      <div class="row">
      
        
        <div  *ngFor="let data of myDevice" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="productCardContainer">
            <div class="productCardContent">
              <div class="productCardImage">
                <img src="https://pbs.twimg.com/profile_images/777547960850718720/uLB18LXG.jpg" alt="" />
                <a href="" class="imageCardEffect">Product</a>
              </div>
              <div class="productCardDetails">
                <div class="productCardModel">
                  <span class="modelCardEffect"></span>
                  <a href="">
                    Model: {{data.device_name}}
                    <span>Price: {{data.gate_no_name}}</span>
                  </a>
                </div>
               
                <div class="productCardPrice">             
                  <button class="btn addToCart">
                    <i class="fa fa-shopping-cart"></i> Configuration
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  
  </section>