

<section class="content-header">
    <h1>
   <i class="fab fa-accusoft"></i> My Device
    </h1>
  
    <span style="margin-top: -25px;" class="pull-right">
      <a style="border-radius: 30px; " [routerLink]="['/newDeviceAccess']"  
     
       class="btn btn-block btn-social btn-dropbox button_Style">
        <i class="fa fa-plus"></i> Add New Device 
      </a>
   
    </span>
  </section>
  
  
  
  <br>
  

  

  


  <section class="content">
  
    <div class="row">
      
      <div *ngFor="let data of myDevice" class="col-lg-3 col-sm-6 col-xs-12">
        <!-- small box -->
        <div  [ngClass]="(data.is_active)?'small-box bg-green':'small-box bg-red'" >
         
          <div class="inner">
            <h3>{{data.access_count}} <sup style="font-size: 13px">(User Access)</sup></h3>

            <p>{{data.name}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-fingerprint"></i>
          </div>
          <a [routerLink]="['/deviceConfig',data.device_id]"  class="small-box-footer">Configuration <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    
    </div>



  

  
  </section>