<h3 mat-dialog-title>This is a Dialog title</h3>

<mat-dialog-content>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>
</mat-dialog-content>

<mat-dialog-actions>
   
    <button   mat-raised-button color="">Create</button>
    <button  (click)="close()" mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>