<section class="content-header">
    <h1>
      
      Users List
    </h1>   


  <span style="margin-top: -25px;" class="pull-right">
      <a style="border-radius: 30px; " [routerLink]="['/members/userView','add']"  
     
       class="btn btn-block btn-social btn-dropbox button_Style">
        <i class="fa fa-plus"></i> Add New User
      </a>
   
    </span>

  </section>
  


<br>

  <section class="content">

    <!-- Default box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
  
      </div>
      <div class="box-body">
      
        <div class="card">
          
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th class="hidden-xs hidden-sm">User id</th>
                <th>Full Name</th>
                <th class="hidden-xs hidden-sm">Department</th>
                <th class="hidden-xs hidden-sm">Status</th>
                <th>View/Edit</th>
              </tr>
              </thead>
              <tbody>
    
    <tr role="row" *ngFor="let user of usersList">
      <td class=" hidden-xs hidden-sm">{{user.user_id}}</td>
      <td class="sorting_1">{{user.first_name}} {{user.last_name}}</td>
      <td class="hidden-xs hidden-sm">{{user.department}}</td>
      <td class="hidden-xs hidden-sm">{{user.status}}</td>
      <td style="text-align: center;"><button [routerLink]="['/members/userView',user.id]"   style="width: 50%;border-radius: 25px;"
         CLASS="btn btn-sm btn-primary button_Style">View</button></td>
    </tr> 
             
             
              </tbody>
              
            </table>
          </div>
          <!-- /.card-body -->
        </div>
    








      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  
  </section>






  






  