  <!-- Main content -->
  <section class="content">
  
    <form #companyDetail="ngForm" novalidate action="">




      

    <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Company Profile</h3>
        </div>
        <div class="box-body">
                   

        <div class="row">

          <div class="col col-sm-12 col-lg-4">
            <div class="widget-user-image text-center">
                <img class="img-circle" src={{cDetails.logo}} alt="User Avatar">
              </div>
        </div>

        
        <div class="col col-sm-12 col-lg-8">
<div class="row">
                    <div class="col col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label>  Company Name</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <input [disabled]="!editMode" id="name" name="name" [(ngModel)]="cDetails.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    
                    <div class="col col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label>Company ID</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <input [disabled]="!editMode" name="id"  [(ngModel)]="cDetails.id" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col col-sm-12 col-lg-6">
                      <div class="form-group">
                          <label>Company Short Name</label>
                          <div class="input-group">
                              <div class="input-group-addon">
                                  <i class="fa fa-shopping-cart"></i>
                              </div>
                              <input [disabled]="!editMode" name="short_name"  [(ngModel)]="cDetails.short_name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                          </div>
                          <!-- /.input group -->
                      </div>
                  </div>
                  </div>
        </div>
        </div>

        <div class="row"> 

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Company Email</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input [disabled]="!editMode" name="email"  [(ngModel)]="cDetails.email"   type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Company Primary Contact</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input [disabled]="!editMode" name="primary_contact"  [(ngModel)]="cDetails.primary_contact" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Company Secondary Contact</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input [disabled]="!editMode" name="secondary_contact"  [(ngModel)]="cDetails.secondary_contact" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>


          <div class="col col-sm-12 col-lg-12">
            <div class="form-group">
              <label>Address</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-shopping-cart"></i>
                </div>
                <input [disabled]="!editMode" name="address"  [(ngModel)]="cDetails.address" type="text"  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>
          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>City</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input [disabled]="!editMode" name="city"  [(ngModel)]="cDetails.city"  type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>
          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>State</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input [disabled]="!editMode" name="state"  [(ngModel)]="cDetails.state" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>
          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Zip Code</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input [disabled]="!editMode" name="zipcode"  [(ngModel)]="cDetails.zipcode"  type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>

      


        </div>

         
          <!-- /input-group -->
        </div>

        <div class="box-footer text-center">
        
       
          <button *ngIf="editMode" [disabled]="!editMode" type="submit"  class="btn btn-success">Update Details</button>
          <button *ngIf="!editMode" (click)="editMode_click()" type="button"  class="btn btn-danger">Edit Details</button>
          
          <button *ngIf="editMode" (click)="cancel_click()"  type="button"  class="btn btn-danger">Cancel Edit</button>
   
        </div>

<br>
<br>

        <!-- /.box-body -->
      </div>
    </form>
  </section>
  <!-- /.content -->
  