  <!-- Main content -->
  <section class="content">
  
    <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Company Profile</h3>
        </div>
        <div class="box-body">
         

           

        <div class="row">

          <div class="col col-sm-12 col-lg-4">
            <div class="widget-user-image text-center">
                <img class="img-circle" src="assets/dist/img/user2-160x160.jpg" alt="User Avatar">
              </div>
        </div>

        
        <div class="col col-sm-12 col-lg-8">
<div class="row">
                    <div class="col col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label>Company ID</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    
                    <div class="col col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label>Company Name</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                  </div>
        </div>
        </div>

        <div class="row">

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Company Email</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Company Primary Contact</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Company Secondary Contact</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>


          <div class="col col-sm-12 col-lg-12">
            <div class="form-group">
              <label>Address</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-shopping-cart"></i>
                </div>
                <input type="text"  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>
          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>City</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>
          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>State</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>
          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label>Zip Code</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>

      


        </div>

         
          <!-- /input-group -->
        </div>

        <div class="box-footer">
        
       
          <button type="submit"  class="btn btn-success">Update Order Details</button>
          <button type="submit"  class="btn btn-danger pull-right">Delete</button>
   
        </div>

<br>
<br>

        <!-- /.box-body -->
      </div>
  
  </section>
  <!-- /.content -->
  