  <!-- Main content -->
  <section class="content-header">
    <h1>
   <i class="fa fa-bank"></i>   Organization Profile
    </h1>
  </section>
  
  <section class="content">
  
    <!-- <form #OrgForm="ngForm" (ngSubmit)="onSubmit(OrgForm)"> -->
      <form #OrgForm="ngForm" name="form" (ngSubmit)="OrgForm.form.valid && onSubmit(OrgForm)" novalidate> 

    <div class="box box-primary">
      
        <div class="box-body">
                   

        <div class="row">

          <div class="col col-sm-12 col-lg-4">
            <div class="widget-user-image text-center">
                <!-- <img class="img-circle" style="height:150px" *ngIf="cDetails.logo" alt="Organization Logo" src={{cDetails.logo}}>
                <img class="img-circle" style="height:150px" *ngIf="!cDetails.logo"  alt="Organization Logo" src="/assets/img/addImageDefault.png" alt="Organization Logo">
                <br>
                 -->
              


                <div class="avatar-upload">
                  <div *ngIf="editMode" class="avatar-edit">
                     
                      <input (change)="ImageSelected($event)" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                     
                      <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                      <div id="imagePreview"  style="background-image: url({{cDetails.logo}});">
                      </div>
                      
                  </div>
              </div>
           <br>
              <a (click)="updateLogo()" id="btnUpdateLogo"  *ngIf="editMode && isImageSelected" class="btn btn-primary btn-flat btn-xs button_Style">Update Logo</a>
            </div>
             
              
        </div>

        
        <div class="col col-sm-12 col-lg-8">
<div class="row">
                    <div class="col col-sm-12 col-lg-12">
                        <div class="form-group"  [ngClass]="{ 'has-error': OrgForm.submitted && organization_name.invalid }">
                            <label>  Organizaion Name</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <input [disabled]="!editMode" id="organization_name"
                                #organization_name="ngModel" required
                                 name="organization_name" [(ngModel)]="cDetails.organization_name"
                                  type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                            </div>

                            <div *ngIf="OrgForm.submitted && organization_name.invalid" class="invalid-feedback">
                              <div class="text-danger" *ngIf="organization_name.errors.required">Organizaion Name required</div>
                          </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    
                    <div class="col col-sm-12 col-lg-6">

                      <div class="form-group"
                         [ngClass]="{ 'has-error': OrgForm.submitted && organization_type.invalid }">
                            <label>Organizaion Type</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <!-- <input disabled name="organization_type" 
                                #organization_type="ngModel" required
                                [(ngModel)]="cDetails.organization_type" type="text" 
                                class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"> -->


                                <ng-select [disabled]="!editMode" name="organization_type" 
                                #organization_type="ngModel" required
                                [items]="cDetails.orgType" 
                                  bindLabel="org_name" 
                                placeholder="Organization Type" 
                                [(ngModel)]="cDetails.organization_type">
                               </ng-select>


                            </div>

                            <div *ngIf="OrgForm.submitted && organization_type.invalid" class="invalid-feedback">
                              <div class="text-danger" *ngIf="organization_type.errors.required">Organizaion Type required</div>
                          </div>

                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col col-sm-12 col-lg-6">
                      <div class="form-group" [ngClass]="{ 'has-error': OrgForm.submitted && short_name.invalid }">
                          <label>Organizaion Short Name</label>
                          <div class="input-group">
                              <div class="input-group-addon">
                                  <i class="fa fa-bank"></i>
                              </div>
                              <input [disabled]="!editMode" name="short_name" 
                              #short_name="ngModel" required
                               [(ngModel)]="cDetails.short_name" type="text" 
                               class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                          </div>

                          <div *ngIf="OrgForm.submitted && short_name.invalid" class="invalid-feedback">
                            <div class="text-danger" *ngIf="short_name.errors.required">
                              Organizaion Short Type required</div>
                        </div>

                          <!-- /.input group -->
                      </div>
                  </div>
                  </div>
        </div>
        </div>

        <div class="row">

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group" [ngClass]="{ 'has-error': OrgForm.submitted && email.invalid }">
              <label> Email</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <input [disabled]="!editMode" required email #email="ngModel" name="email" 
                [(ngModel)]="cDetails.email" 
                  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <div *ngIf="OrgForm.submitted && email.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="email.errors.required">Valid Eamil required</div>
            </div>

              <!-- /.input group -->
            </div>
          </div>

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group" [ngClass]="{ 'has-error': OrgForm.submitted && primary_contact.invalid }">
              <label> Primary Contact</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </div>
                <input [disabled]="!editMode" required number #primary_contact="ngModel"  name="primary_contact" 
                [(ngModel)]="cDetails.primary_contact"
                  type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>


              <div *ngIf="OrgForm.submitted && primary_contact.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="primary_contact.errors.required">Primary Contact required</div>
            </div>

              <!-- /.input group -->
            </div>
          </div>

          <div class="col col-sm-12 col-lg-4">
            <div class="form-group">
              <label> Secondary Contact</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </div>
                <input [disabled]="!editMode"  #secondary_contact="ngModel" number name="secondary_contact"
                 [(ngModel)]="cDetails.secondary_contact"
                  type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>
              <!-- /.input group -->
            </div>
          </div>


          <div class="col col-sm-12 col-lg-12">
            <div class="form-group" [ngClass]="{ 'has-error': OrgForm.submitted && address.invalid }">
              <label>Address</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-address-book"></i>
                </div>
                <input [disabled]="!editMode" name="address" required #address="ngModel" 
                [(ngModel)]="cDetails.address" type="text"
                  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>

              <div *ngIf="OrgForm.submitted && address.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="address.errors.required">Address required</div>
            </div>

              <!-- /.input group -->
            </div>
          </div>


          <div class="col col-sm-12 col-lg-4">
            <div class="form-group"  [ngClass]="{ 'has-error': OrgForm.submitted && city.invalid }">
              <label>City</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-address-book"></i>
                </div>
                <input [disabled]="!editMode" required #city="ngModel" name="city"
                 [(ngModel)]="cDetails.city" type="text"
                  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>

              <div *ngIf="OrgForm.submitted && city.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="city.errors.required">City required</div>
            </div>
              <!-- /.input group -->
            </div>
          </div>


          <div class="col col-sm-12 col-lg-4">
            <div class="form-group" [ngClass]="{ 'has-error': OrgForm.submitted && state.invalid }">
              <label>State</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-address-book"></i>
                </div>
                <input [disabled]="!editMode" required #state="ngModel" name="state"
                 [(ngModel)]="cDetails.state" type="text"
                  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>

              <div *ngIf="OrgForm.submitted && state.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="state.errors.required">State required</div>
            </div>

              <!-- /.input group -->
            </div>
          </div>


          <div class="col col-sm-12 col-lg-4">
            <div class="form-group"  [ngClass]="{ 'has-error': OrgForm.submitted && zip_code.invalid }">
              <label>Zip Code</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-address-book"></i>
                </div>
                <input [disabled]="!editMode" required #zip_code="ngModel" name="zip_code"
                 [(ngModel)]="cDetails.zip_code" type="text"
                  class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              </div>

              <div *ngIf="OrgForm.submitted && zip_code.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="zip_code.errors.required">Zip code required</div>
            </div>

              <!-- /.input group -->
            </div>
          </div>


        </div>

         
          <!-- /input-group -->
        </div>

        <div class="box-footer text-center">
        
       
          <button *ngIf="editMode" [disabled]="!editMode" type="submit"  class="btn btn-success button_Style">Update Details</button>
          <button *ngIf="!editMode" (click)="editMode_click()" type="button"  class="btn btn-danger button_Style">Edit Details</button>
          
          <button *ngIf="editMode" (click)="cancel_click()"  type="button"  class="btn btn-danger button_Style">Cancel Edit</button>
   
        </div>

<br>
<br>

        <!-- /.box-body -->
      </div>
    </form>
  </section>
  <!-- /.content -->
  