<header class="main-header">
  <!-- Logo -->
  <a class="logo" href="#">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>G</b>ATE
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">     
      <b>Gate</b> <span style="font-size:90%;"> Keeper</span></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <!-- {{cDetails.organization_name}} -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
      
      

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img alt="User Image" class="user-image" src="{{photo}}" >
            <span class="hidden-xs">{{display_name}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img alt="User Image" class="img-circle" src="{{photo}}" >

              <p> 
                {{display_name}}  ({{myRole}})
                <small>{{email}}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
          
                
             
                <div class="col-12 text-center">
                  Last Login : {{lastLogin | date:'yyyy-MMM-dd HH:mm a'}}
                </div>
                
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat" [routerLink]="'/members/myProfile'">Profile</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-default btn-flat" (click)="logout()" >Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a data-toggle="control-sidebar" href="#"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
