<section class="content-header">
  <h1>
   NEW GATE ACCESS
  </h1>
</section>


<!-- Main content -->
<section class="content">

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Create New Gate Access</h3>
    </div>
    <div style="padding:5%;" class="box-body">

      <div class="row">
        <div class="col col-sm-12  col-md-3 col-lg-3">
        </div>
          <div class="col col-sm-12  col-md-6 col-lg-6">
            <div class="form-group">
              <label>Gate Access</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-gears" aria-hidden="true"></i>
                </div>

                <ng-select [items]="DeviceList"   bindLabel="device_name" 
                placeholder="Select Device" 
                [(ngModel)]="selectedDevice">
               </ng-select>

              </div>
            </div>
          </div>
          <div class="col col-sm-12  col-md-3 col-lg-3">
          </div>
      </div>
      
      <div class="row">
        <div class="col col-sm-12  col-md-3 col-lg-3">
        </div>
          <div class="col col-sm-12  col-md-6 col-lg-6">
            <div class="form-group">
              <label>USER</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <ng-select [items]="UserList" bindValue="user_sys_id"  bindLabel="user_name" 
                placeholder="Select user" 
                [(ngModel)]="selectedUser">
               </ng-select>
               
              </div>
            </div>
          </div>
          <div class="col col-sm-12  col-md-3 col-lg-3">
          </div>
        </div>


      <div class="row">
        <div class="col col-sm-12  col-md-3 col-lg-3">
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <label>EXPIRY DATE</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <input type="date" id="expiryDate" [(ngModel)]="expiryDate" class="form-control" date>
            </div>

            <!-- /.input group -->
          </div>
        </div>
        <div class="col col-sm-12  col-md-3 col-lg-3">
        </div>
      </div>

      <br>
      <div class="row" style="text-align: center;">
      <button type="button" (click)="creataAccount()" class="btn btn-success button_Style">Create Access</button>
    </div>

     
   
      <!-- /.box-body -->
    </div>
  </div>
</section>
<!-- /.content -->