<h2 mat-dialog-title>{{frmName}}</h2>
<mat-dialog-content class="mat-typography">


  <mat-form-field class="example-full-width">
    <mat-label>User Name</mat-label>
    <mat-select [formControl]="selectedUser"  [(ngModel)]="gateAccessDtl.user_sys_id">     
      <mat-option *ngFor="let user of userList" [value]="user.user_sys_id">{{user.user_name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Gate Name</mat-label>
    <mat-select [formControl]="selectedGate" multiple  [(ngModel)]="gateAccessDtl.gate_id">
    
      <mat-option *ngFor="let gate of gateList" [value]="gate.gate_id">{{gate.gate_name}}</mat-option>
    </mat-select>
  </mat-form-field>
               
  <mat-form-field class="example-full-width">
    <mat-label>Choose access expire  date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="gateAccessDtl.expire" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


     
<br>
<br>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button at-dialog-close  (click)="close()">Cancel</button>  
  <button mat-raised-button (click)="creataAccount()" color="primary">Create Access</button>
</mat-dialog-actions>

 

